{% extends 'process/base.html' %}

{% block style %}
.errorlist
  {
      color: red;
  }

.panel .row
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel .row .col-sm-6
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.row
{
    padding-top: 20px;
}

.row #panel-2
{
    margin-top: 40px !important;
}

#id_paste_URL
{
    width: 500px;
    margin-left: 15px;
}

.form-1, .form-2
{
    padding-left: 20px;
}

.form-2
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn
{
    margin-bottom: 8px;
}

input
{
    color: black;
}

select {
    color: black;
}

#reset {
    margin-left: 35px;
}

{% endblock style %}

{% block select_video %}
<div class="row">
  <div class="col-lg-12">
    <form class="form" action="{% url 'video_url' %}" method="post">
      {% csrf_token %}
      <div class="panel panel-default" id="panel-1">
        <div class="panel-heading"><h3 class="panel-title"><label>Enter a Youtube Video URL</label></h3></div>
          <div class="row">
            <div class="panel-body">
              <div class="form-group field-wrapper form-1">
                <div class="col-md-8">
                  {{ url_form.paste_URL.label_tag }} {{ url_form.paste_URL }}
                  {{ url_form.paste_URL.errors }}
                </div>
                <div class="col-md-4">
                  {{ url_form.quality.label_tag }} {{ url_form.quality }}
                  {{ url_form.quality.errors }}
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="panel panel-default" id="panel-2">
        <div class="panel-heading"><h3 class="panel-title"><label>Input Options</label></h3></div>
        {% if form.errors %}
          <p style="color: red;">
            please correct the error{{ form.errors|pluralize }}
          </p>
        {% endif %}
        <div class="row">
          <div class="col-sm-6">
          {% for field in form %}
            <div class="form-group field-wrapper form-2">
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
            </div>
            {% cycle "" "" "</div><div class='col-sm-6'>" %}
          {% endfor %}
          </div>
          <button onclick="dialog()" id="submit" type="submit" class="btn btn-default" value="Submit">Submit</button>
          <button onclick="reset()" id="reset" class="btn btn-default">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock select_video %}

{% block script %}
const stateObj = { home: 'home' }
window.history.pushState(stateObj, null, "{% url 'home' %}")
window.onpopstate = function(event) {
  alert("You will be taken back to the home page")
}
{% endblock script %}
